/*.navbar {*/
  /*display: none;*/
/*}*/

#gameMap {
  width: 5027px;
  height: 2453px;
  background-image: url("baseMap.jpg");
  background-size: 100% 100%;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  opacity: 0;
  fill: rgba(19,14,13,0.8);
  stroke: rgba(38,28,26,1);
  stroke-width: 5px;
}

path:hover:not(active):not(.others) {
  animation: opacityShowActive 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  cursor: pointer;
}

.active:hover:not(.others) {
  animation: opacityShowActive 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  cursor: pointer;
}

.active:hover {
  animation: opacityShowActive 0.25s;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  cursor: pointer;
}

.chosen {
  animation: chosenShow 1s infinite;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}

.active {
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.teal {
  fill: #358b86;
  stroke: #358b86;
}

.purple {
  fill: #992fca;
  stroke: #992fca;
}

.green {
  fill: #58a004;
  stroke: #58a004;
}

.blue {
  fill: #2437a8;
  stroke: #2437a8;
}

.red {
  fill: #c03211;
  stroke: #c03211;
}

.yellow {
  fill: #f7b71a;
  stroke: #f7b71a;
  opacity: 0.7;
}

#zoomIn, #zoomOut {
  cursor: pointer;
}

.others:hover {
  opacity: 1 !important;
  cursor: pointer;
}

@keyframes opacityShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes opacityShowActive {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes chosenShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from { transform:scale(1); transform-origin: 0px 0px; }
  to { transform:scale(1.25) }
}
@-moz-keyframes zoomIn {
  from { -moz-transform:scale(1) }
  to { -moz-transform:scale(1.25) }
}
@-webkit-keyframes zoomIn {
  from { -webkit-transform:scale(1) }
  to { -webkit-transform:scale(1.25) }
}
@-o-keyframes zoomIn {
  from { -o-transform:scale(1) }
  to { -o-transform:scale(1.25) }
}

@keyframes zoomOut {
  from { transform:scale(1) }
  to { transform:scale(0.8) }
}
@-moz-keyframes zoomOut {
  from { -moz-transform:scale(1) }
  to { -moz-transform:scale(0.8) }
}
@-webkit-keyframes zoomOut {
  from { -webkit-transform:scale(1) }
  to { -webkit-transform:scale(0.8) }
}
@-o-keyframes zoomOut {
  from { -o-transform:scale(1) }
  to { -o-transform:scale(0.8) }
}

.logo {
  font-family: 'Delius Unicase', cursive;
  align-content: center;
}

.signin {
  align-content: center;
}

a:link {
  text-decoration: none;
  color: #f7b71a;
}

#ifAttackIsPossible {
  float: left;
}

.modal-footer > p {
  text-align: left;
}